# Do not write a package-lock file
package-lock=false
# Ignore all lifecycle scripts by default. You can
# still allow them on a per-package basis with
ignore-scripts=true
# Don't install packages from git urls, which can
# be used to bypass the above two settings
allow-git=none
# Break git usage for older npm versions that don't
# support allow-git and repositories that override it
git=false
# Avoid installing packages published in last 3 days
min-release-age=3
