{
  "rules": {
    "max-nested-callbacks": "off",
    "func-names": "off",
    "no-shadow": ["warn", {"allow": ["cb", "t", "shim", "error", "err"]}],
    "brace-style": ["error", "1tbs", {"allowSingleLine": true}]
  }
}