[mysqld]
# Without changing the verbosity to 1, we will get a warning about the
# authentication method deprecation _every second_.
log_error_verbosity=1

# Switch us back to the pre-8.0 authentication method.
default-authentication-plugin=mysql_native_password
