name: Benchmark Tests

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  # Enable versioned runner quiet mode to make CI output easier to read:
  OUTPUT_MODE: quiet

jobs:
  benchmarks:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies
      run: npm install
    - name: Run Benchmark Tests
      env:
        NEW_RELIC_LICENSE_KEY: ${{ secrets.TEST_LICENSE }}
      run: node ./bin/run-bench.js --filename=${{ github.base_ref || 'main' }}_${{ matrix.node-version }}
    - name: Verify Benchmark Output
      run: ls benchmark_results
    - name: Archive Benchmark Test
      uses: actions/upload-artifact@v4
      with:
        name: benchmark-tests-${{ github.base_ref || 'main' }}-${{ matrix.node-version }}
        path: ./benchmark_results

