name: Create Release Notes PR

# Manual trigger only
on:
  workflow_dispatch:

jobs:
  generate-release-notes:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1 # https://github.com/actions/setup-node
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies
      run: npm ci
    - name: Create Release Notes
      run: node ./bin/generate-release-notes.js --branch ${{ github.ref }} --repo-owner ${{ github.repository_owner }}
