# This workflow is intended to be used to run versioned tests for different scenarios(i.e.- async local context manager, etc)

name: Nightly Versioned Scenario Runs 

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 9 * * 1-5'

jobs:
  async-local-context:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies
      run: npm ci
    - name: Run Docker Services
      run: npm run services
    - name: Run Async Local Context Versioned Tests (Node 16+)
      run: TEST_CHILD_TIMEOUT=600000 npm run versioned:async-local
      env:
        VERSIONED_MODE: --major 
        JOBS: 4 # 2 per CPU seems to be the sweet spot in GHA (July 2022)
        SKIP_C8: true 
